.header {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    height: 50px;
    background-color: rgb(58, 58, 58);
}
.header b {
    color: white;
    font-size: 22px;
}
body {
    background-image: url('./public/zvezda.jpg');
    animation: fon linear  ;
    background-repeat: repeat-x;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}